button {
  display:block;
}

body {
    background-color: aquamarine;
    text-align: center;
}

#view-scores {
    color: blueviolet;
    background-color: peachpuff;
}

#start-button {
    color:orange;
    background-color: black;
}